# Приложение
PORT=8080
NODE_ENV=development
SERVER_API_KEY=change-me-very-secret

# База данных (Railway PostgreSQL -> DATABASE_URL)
DATABASE_URL=postgresql://user:password@host:5432/dbname?schema=public

# Telegram
TELEGRAM_BOT_TOKEN=000000000:AA... # токен бота (для проверки WebApp initData)

# Solana / BLKR
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
BLKR_MINT=YourBLKRMintAddressHere
MERCHANT_WALLET=Fzt7CcgxXeuKzf9jHR8FCpnepdujSbtT1fmWGHqWA5FT
BLKR_DECIMALS=9

# Если есть конкретный токен-аккаунт мерчанта (ATA)
MERCHANT_TOKEN_ACCOUNT=